{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% block extrahead %}
{% endblock %}
{% block title %}{{ event }}{% endblock %}
{% block content %}

    {% load widget_tweaks %}
    <script>
        $('form').submit(function () {
            $(':submit', this).click(function () {
                return false;
            });
        });
    </script>

    <h3>{{ event.name }}</h3>

    <p>{{ event.description|safe }}</p>
    <hr>
    <h4>{% trans "Info" %}</h4>
    <p><b>{% trans "Vad" %} </b>: {{ event.name }}</p>
    <p><b>{% trans "Datum" %} :</b> {{ event.date|date:"d.m.Y H:i" }}</p>
    <p><b>{% trans "Plats" %} :</b> {{ event.place }}</p>
    <p><b>{% trans "Pris" %} :</b> {{ event.price }} </p>
    <p><b>{% trans "Deadline" %} :</b> {{ event.deadline|date:"d.m.Y H:i" }}</p>
    <p><b>{% trans "Max deltagarantal" %} :</b> {{ event.maxSignUps }}</p>

    <hr>



    {% if user.title.styrelsePost or user.is_superuser  or user == event.member %}
        <a class="btn btn-default" href="{% url 'event:edit' event.id %}">{% trans "Ändra" %}</a>
        <a class="btn btn-danger" onclick="return confirm('{% trans "Är du säker på att du vill radera"%} {{ event.name }}')"
           href="{% url 'event:delete' event.id %}">{% trans "Radera" %} </a>
    {% endif %}
    <h3>{% trans "Anmälan"%}</h3>

    {% if event.deadlinePassed %}
        {% trans "Anmälningstiden har tyvärr gått ut"%}
    {% else %}
        {% if event.isFull %}
            <p> {% trans "Evenemanget är tyvärr fullt, du hamnar på reservlista!"%}</p>
        {% endif %}

        <form class="form-horizontal" action="{% url 'signup:save' event.id %}" method="post">{% csrf_token %}
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form_ in formset %}
                {% if forloop.counter == 1 %}
                    <h4>{% trans "Medlem"%}</h4>
                {% else %}
                    <h4>{% trans "Avec"%} {{ forloop.counter|add:"-1" }}</h4>
                {% endif %}
                {% for field in form_ %}
                    <div class="form-group"  {% if field.errors %} has-error {% endif %} >
                        <label class="col-xs-2 control-label">
                            {{ field.label }}{% if field.field.required %} * {% endif %}{{ field.errors }}</label>

                        <div class="col-xs-10">
                            {{ field|add_class:"form-control" }}{{ field.errors }}
                        </div>
                    </div>
                {% endfor %}

                {% for text_field in text_fields %}
                    <div class="form-group"  {% if field.errors %} has-error {% endif %} >
                        <label class="col-xs-2 control-label"
                               for="textfield_{{ text_field.id }}_{{ forloop.parentloop.counter }}">{{ text_field.textField.label }}</label>

                        <div class="col-xs-10">
                            <input class="form-control" type="text"
                                   id="textfield_{{ text_field.id }}_{{ forloop.parentloop.counter }}"
                                   name="textfield_{{ text_field.id }}_{{ forloop.parentloop.counter }}"/>{{ field.errors }}
                        </div>
                    </div>
                {% endfor %}
                {% for checkbox in check_boxes %}
                    <div class="form-group"  {% if field.errors %} has-error {% endif %} >

                        <label class="col-xs-2 control-label"
                               for="checkbox_{{ checkbox.id }}_{{ forloop.parentloop.counter }}">{{ checkbox.checkbox.label }}</label>


                        <div class="col-xs-10">
                                <input class="switch-checkbox" type="checkbox" checked
                                       id="checkbox_{{ checkbox.id }}_{{ forloop.parentloop.counter }}"
                                       name="checkbox_{{ checkbox.id }}_{{ forloop.parentloop.counter }}"/>{{ field.errors }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            <br/>
            <input class="btn btn-default" type="submit" value="{% trans "Anmäl"%}"/>

        </form>
    {% endif %}
    <div class="row">
        <div class="col-sm-6">
            <h4>{% trans "Anmälningar"%}</h4>

            <p>{% trans "I Tenor"%} {{ count.first }}</p>

            <p>{% trans "II Tenor" %}{{ count.sec }}</p>

            <p>{% trans "Baryton"%} {{ count.baryton }}</p>

            <p>{% trans "II Bas"%} {{ count.bas }}</p>
        </div>
        <div class="col-sm-6" id="userData">
            <a href="#" class="export btn btn-primary pull-right">{% trans "Exportera till .csv (Excel)"%}</a>
        </div>
    </div>
    {% if signUps %}
        <table  data-tablesaw-mode="swipe"
               class=" tablesaw table table-striped table-hover table-condensed"
               data-tablesaw-sortable data-tablesaw-minimap data-tablesaw-mode-switch id="signUps">
            <thead>
            <tr>
                <th data-tablesaw-sortable-col data-tablesaw-priority="persist" data-tablesaw-sortable-default-col>#
                </th>

                <th data-tablesaw-sortable-col data-tablesaw-priority="persist">{% trans "Namn"%}</th>

                <th data-tablesaw-sortable-col data-tablesaw-priority="2">{% trans "Diet"%}</th>
                <th data-tablesaw-sortable-col data-tablesaw-priority="2">{% trans "Email"%}</th>
                {% for text_field in text_fields %}
                    <th data-tablesaw-sortable-col data-tablesaw-priority="2">{{ text_field.textField.label }}</th>
                {% endfor %}
                {% for check_box in check_boxes %}
                    <th data-tablesaw-sortable-col data-tablesaw-priority="2">{{ check_box.checkbox.label }}</th>
                {% endfor %}
                <th data-tablesaw-priority="4">{% trans "Radera"%}</th>
            </tr>
            </thead>
            <tbody>
            {% for signUp in signUps %}

                {% if forloop.counter <= event.maxSignUps %}

                    <tr style="color: #105194">
                        <td>{{ iterator.next|add:"1" }}</td>
                        <td>
                            {% if signUp.avec %}
                                {{ signUp.name }}
                                <a href={% url 'UserInformation:profile' signUp.member.id %}>
                                    ({{ signUp.member.get_full_name }})</a>
                            {% else %}
                                <a href={% url 'UserInformation:profile' signUp.member.id %}> {{ signUp.name }}</a>
                            {% endif %}

                        </td>

                        {% if user.title.styrelsePost or  user.is_superuser or user == event.member or signUp.member == user %}
                            <td>{{ signUp.diet }}</td>
                            <td>{{ signUp.email }}</td>
                        {% else %}
                            <td></td>
                            <td></td>
                        {% endif %}
                        {% for text_field in text_fields %}
                            {% if not text_field.textField.hidden or user.title.styrelsePost or  user.is_superuser or user == event.member or signUp.member == user %}

                                <td>
                                    {% for text_field_signup in signUp.textfieldxsignup_set.all %}
                                        {% if text_field.id == text_field_signup.textfield.id %}
                                            {{ text_field_signup.text }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}

                        {% endfor %}
                        {% for check_box in check_boxes %}
                            {% if  not check_box.checkbox.hidden or  user.title.styrelsePost or  user.is_superuser or user == event.member or signUp.member == user %}
                                <td>
                                    {% for check_box_signup in signUp.checkboxxsignup_set.all %}
                                        {% if check_box.id == check_box_signup.checkbox.id %}
                                            {{ check_box_signup.boolean|yesno:"Ja,Nej" }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                        {% if user.title.styrelsePost or  user.is_superuser or user == event.member or signUp.member == user %}

                            <td>
                                <a class="btn btn-danger"
                                   href="{% url 'signup:remove' signUp.id event.id %}"
                                   onclick="return confirm('Är du säker på att du vill ta bort anmälan')">{% trans "Radera"%}</a>
                                <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#ajax-modal"
                                   data-href="{% url 'signup:edit' signUp.id %}">{% trans "Ändra"%}</a>
                            </td>
                            {% else %}
                                <td></td>
                        {% endif %}
                    </tr>
                    {% if forloop.counter == event.maxSignUps %}
                        <th colspan="0">
                            <h5>{% trans "Reservlista"%}:</h5>
                        </th>
                    {% endif %}
                {% else %}
                    <tr style="font-style: italic ; color: #5E5E5E">
                        <td>{{ forloop.counter }}</td>
                        <td>
                            {% if not signUp.avec %}
                                <a href={% url 'UserInformation:profile' signUp.member.id %}> {{ signUp.name }}</a>
                            {% else %}
                                {{ signUp.name }}
                                {% if signUp.avec %}
                                    <a href={% url 'UserInformation:profile' signUp.member.id %}>
                                        ({{ signUp.member.get_full_name }})</a>


                                {% endif %}
                            {% endif %}
                        </td>

                         {% if user.title.styrelsePost or  user.is_superuser or user == event.member or signUp.member == user %}
                            <td>{{ signUp.diet }}</td>
                            <td>{{ signUp.email }}</td>
                        {% else %}
                            <td></td>
                            <td></td>
                        {% endif %}
                        {% for text_field in text_fields %}
                            {% if not text_field.textField.hidden or user.title.styrelsePost or  user.is_superuser or user == event.member or signUp.member == user %}

                                <td>
                                    {% for text_field_signup in signUp.textfieldxsignup_set.all %}
                                        {% if text_field.id == text_field_signup.textfield.id %}
                                            {{ text_field_signup.text }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}

                        {% endfor %}
                        {% for check_box in check_boxes %}
                            {% if  not check_box.checkbox.hidden or  user.title.styrelsePost or  user.is_superuser or user == event.member or signUp.member == user %}
                                <td>
                                    {% for check_box_signup in signUp.checkboxxsignup_set.all %}
                                        {% if check_box.id == check_box_signup.checkbox.id %}
                                            {{ check_box_signup.boolean|yesno:"Ja,Nej" }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                        {% if user.title.styrelsePost or  user.is_superuser or user == event.member or signUp.member == user %}

                            <td>
                                <a class="btn btn-danger"
                                   href="{% url 'signup:remove' signUp.id event.id %}"
                                   onclick="return confirm({% trans "Är du säker på att du vill ta bort anmälan"%})">{% trans "Radera"%}</a>
                                <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#ajax-modal"
                                   data-href="{% url 'signup:edit' signUp.id %}">{% trans "Ändra"%}</a>
                            </td>
                            {% else %}
                                <td></td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% trans "Inga anmälningar"%}
    {% endif %}
    <br/>
    <br/>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        setTimeout(function () {
            jQuery('#modal').modal('hide');
        }, 1000);
        $('body').on('hidden.bs.modal', '.modal', function () {
            $(this).removeData('bs.modal');
        });
        $(function () {
            $("[rel='tooltip']").tooltip();
        });

        $(document).ready(function () {

            function exportTableToCSV($table, filename) {

                var $rows = $table.find('tr:has(td,th):visible'),

                // Temporary delimiter characters unlikely to be typed by keyboard
                // This is to avoid accidentally splitting the actual contents
                        tmpColDelim = String.fromCharCode(11), // vertical tab character
                        tmpRowDelim = String.fromCharCode(0), // null character

                // actual delimiter characters for CSV format
                        colDelim = '","',
                        rowDelim = '"\r\n"',

                // Grab text from table into CSV formatted string
                        csv = '"' + $rows.map(function (i, row) {
                                    var $row = $(row),
                                            $cols = $row.find('td:visible, th:visible');

                                    return $cols.map(function (j, col) {
                                        var $col = $(col),
                                                text = $col.text();
                                        text = text.trim();
                                        return text.replace('"', '""'); // escape double quotes


                                    }).get().join(tmpColDelim);

                                }).get().join(tmpRowDelim)
                                        .split(tmpRowDelim).join(rowDelim)
                                        .split(tmpColDelim).join(colDelim) + '"',

                // Data URI
                        csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

                $(this)
                        .attr({
                            'download': filename,
                            'href': csvData,
                            'target': '_blank'
                        });
            }

            // This must be a hyperlink
            $(".export").on('click', function (event) {
                // CSV
                exportTableToCSV.apply(this, [$('#signUps'), 'export.csv']);

                // IF CSV, don't do event.preventDefault() or return false
                // We actually need this to be a typical hyperlink
            });
        });
    $.fn.bootstrapSwitch.defaults.onText = {% trans "Ja"%};
    $.fn.bootstrapSwitch.defaults.offText = {% trans "Nej"%};
    $(".switch-checkbox").bootstrapSwitch();

    </script>

{% endblock %}