{% load url from future %}
{% load widget_tweaks %}
{% block modal_content %}
    {% block extrahead %}
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
        <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    {% endblock %}


    <div class="modal-dialog">
        <div class="modal-content">

            <form id="contactForm" method='post' class="form" role="form"
                  action="{% url 'UserInformation:kontakt' user_id=form.instance.id %}">{% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Personuppgifter för {{ user_.get_full_name }}</h4>
                </div>
                <div class="modal-body">
                    <div class="control-group">
                        <label class="control-label">Profilbild</label>

                        <div class="controls">
                            <a href="https://en.gravatar.com/" target="_blank"> Hämtas från gravatar.com</a>
                        </div>
                    </div>

                    {% for field in form %}
                        <div class="form-group {% if field.errors %} has-error {% endif %}">
                            <label>
                                {{ field.label }}{% if field.field.required %} * {% endif %}{{ field.errors }}</label>
                            {{ field|add_class:"form-control" }}{{ field.errors }}
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <input class="btn btn-default" type="submit" value="Spara"/>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker();
        });
    </script>
    <script>
        var form_options = {
            target: '#modal', success: function () {
            }
        }
        $('#contactForm').ajaxForm(form_options);
    </script>
{% endblock %}