{% load widget_tweaks %}
{% load i18n %}
<div class="modal-dialog">
    <div class="modal-content">
        <form action="{% url 'klotter:klotterplanket' %}" method="post">{% csrf_token %}

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="comment_modal_{{ klotter_id }}_label">{% trans "Ny kommentar"%}</h4>
            </div>
            <div class="modal-body">

                {% csrf_token %}

                <input type="hidden" name="parent" id="parent" value="{{ klotter_id }}">
                {% for field in form %}
                    <div class="form-group {% if field.errors %} has-error {% endif %}">
                        <label>{{ field.label }}{% if field.field.required %} * {% endif %}{{ field.errors }}</label>
                        {% if field|widget_type == 'summernotewidget' %}
                            {{ field }}{{ field.errors }}
                        {% else %}
                            {{ field|add_class:"form-control" }}{{ field.errors }}
                        {% endif %}
                    </div>
                {% endfor %}

            </div>
            <div class="modal-footer">
                <input class="btn btn-primary" type="submit" value="{% trans "Skicka"%}"/>
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Stäng"%}</button>
            </div>
        </form>
    </div>
    <!-- /.modal-content -->
</div><!-- /.modal-dialog -->
