{% load i18n %}
    {% if validlink %}
        <p>{% trans "Var god fyll i dit nya lösenord två ggr för att försäkra att du uppgett det korrekt"%}.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">{% trans "Nytt lösenord"%}:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">{% trans "Upprepa lösenord"%}:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="{% trans "Byt lösenord"%}" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>{% trans "Bytet av ditt lösenord misslyckades"%}</h1>
        <p>{% trans "Linken var ogiltig, antagligen för att den redan använts en gång"%}. <br />
        {% trans "Var god och beställ en ny länk"%}.</p>
    {% endif %}
