
    {% if validlink %}
        <p>Var god fyll i dit nya lösenord två ggr<br />
           för att försäkra att du uppgett det korrekt.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nytt lösenord:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Upprepa lösenord:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Byt lösenord" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Bytet av ditt lösenord misslyckades</h1>
        <p>Linken var ogiltig, <br />
        antagligen för att den redan använts en gång. <br />
        Var god och beställ en ny länk.</p>
    {% endif %}
